@model Capstone.Models.Contractor

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutContractor.cshtml";
}

<h2>Index</h2>

<div>
    <h4>Contractor</h4>
    <hr />
</div>

<h6>Business Actions </h6>
<ul>
    <li>@Html.ActionLink("Jobs List", "Index", "Jobs")</li>
    <li>@Html.ActionLink("New Project", "Create", "Clients")</li>
    <li>@Html.ActionLink("Send Invoice", "Send", "Email")</li>
    <li>@Html.ActionLink("Profitability Ratio Graph", "SeeProfitChart", "Jobs")</li>
</ul>
<h6>Profile Actions</h6>
<ul>
    <li>@Html.ActionLink("Profile Info", "Details", "Contractors")</li>
</ul>


