@model IEnumerable<Capstone.Models.Job>

@{
    ViewBag.Title = "JobsIndex";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h2>Jobs Index</h2>

<p>
    @Html.ActionLink("Back to profile", "Index", "Employees")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobName)
        </th>
 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobName)
        </td>
  
        <td>
            @Html.ActionLink("Details", "EmployeeJobDetails", "Jobs", new { id = item.JobId }, null) |
            @Html.ActionLink("View task list", "Index", "TaskMaster", new { id = item.JobId }, null) |
            @Html.ActionLink("Check In", "CheckIn", "Employees",new { id = item.JobId }, null) |
            @Html.ActionLink("Check Out", "CheckOut", "Employees",new { id = item.JobId }, null)
            
        </td>
    </tr>
}

 

</table>
