@model Capstone.Models.Job

@{
    ViewBag.Title = "EmployeeJobDetails";
}

<h2>Job Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>




    </dl>
    <h4>Current weather</h4>
    <p>The current temperature is: @Model.Weather.Temperature degrees Fahrenheit.</p>
    <p>The current weather condition is: @Model.Weather.Condition</p>
</div>
<p>
    @Html.ActionLink("Back to jobs list", "JobsIndex", "Employees")
</p>
