@model IEnumerable<Capstone.Models.Job>

@{
    ViewBag.Title = "Index";
}
<h2>List of Jobs</h2>
<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobName)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobName)
        </td>

        <td>
            @Html.ActionLink("Details", "Details", "Jobs", new { id = item.JobId }, null)
            @*@Html.ActionLink("Calculate Profitability", "CalculateProfitabilityRatio", "Jobs", new { id = item.JobId }, null)*@
        </td>
    </tr>
        }

    </table>

</div>
<p>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("View Completed Only", "IndexCompletedJobs", "Jobs")
</p>
